<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description.html_safe %>
</p>

<p>
  <strong>Image:</strong>
  <%=image_tag @article.image.url , style: "width:200px;height:200px" %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
